/* HENRIK LAST CHANGE */
/* CSS - MAIN */
/* FONT 
font-family: 'Oswald', sans-serif;
font-family: 'Amatic SC', cursive;
*/
* {
  font-family: "Oswald", sans-serif;
  /* FONT */
}

.red-header{
    color: #e30613;
}

/* NAV BAR */
.bg-oko-green {
  background-color: #374a00;
}
.navbar {
  padding: 0 1rem;
}
.navbar-nav {
  width: 100%;
}
.navbar a {
  color: white;
}
.header-img {
  background: white url("../images/shop.jpg") no-repeat center center / cover;
  background-position: 0 -500px;
  height: 180px;
  position: relative;
}
.header-logo-container {
  top: -20px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-family: "Amatic SC", cursive;
}
.header-logo-container p {
  color: #374a00;
  font-family: "Amatic SC", cursive;
}
.header-logo {
  background-color: white;
  height: 50px;
}

.navbar-kurv-logo {
  height: 20px;
  margin-left: 10px;
}
.nav-bar-last-item {
  margin-left: auto;
}
/* NAV BAR */


/* OM OS SIDE */

.om-os-container{
    background-color: white;
}

.om-os-img{
  width: 40%;
  height: 600px;
  object-fit: cover;

}

 /* // Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

.om-os-img{
        width: 100%;
} 


/* OM OS SIDE */