h1 {
  font-family: "Oswald", sans-serif;
  font-family: "Amatic SC", cursive;
}

.header-logo-container p {
  color: #374a00;
  font-family: "Amatic SC", cursive;
}

.header-logo {
  background-color: white;
  height: 50px;
}

.kurv-logo {
  height: 30px;
}

/* NAV BAR */
