body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* HENRIK LAST CHANGE */
/* CSS - MAIN */
/* FONT FAMILY TEMPLATES
font-family: 'Oswald', sans-serif;
font-family: 'Amatic SC', cursive;
*/
* {
 /* FONT */
  font-family: "Oswald", sans-serif;
  /* FONT */
}

h1,h2,h3,h4 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

.red-header{
    color: #e30613;
}

.green{
  color: #374a00;
}


/* HEADER START */

header{
  margin-top: 20px;
}

/* NAV BAR */
.bg-oko-green {
  background-color: #374a00;
}
.navbar {
  padding: 0 1rem;
}
.navbar-nav {
  width: 100%;
}
.navbar a {
  color: white;
}
.header-img {
  background: white url("images/shop.jpg") no-repeat center center / cover;
  background-position: 0 -500px;
  height: 180px;
  position: relative;
}
.header-logo-container {
  top: -20px;
}

.header-logo-container p {
  color: #374a00;
  font-family: "Amatic SC", cursive;
}
.header-logo {
  background-color: white;
  height: 50px;
}

.navbar-kurv-logo {
  height: 20px;
  margin-left: 10px;
}
.nav-bar-last-item {
  margin-left: auto;
}
/* NAV BAR */
/* HEADER END */


/* MAIN CONTENT */

.main-content {
  /*background-color: wheat;*/
  background-color: white;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -80px;
  padding: 25px 0 25px 0;
}
.big-h1 {
  font-size: 3.4rem;
  color: #374a00;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27news-deckpx;
}

.card-img-top {
  object-fit: contain;
  width: 100%;
  height: 200px;
  padding: 20px;
}
.card-title {
  color: #374a00;
  text-align: center;
}
.card-text {
}
.read-more {
  color: #ec5f65;
}
.price {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}
.fake-btn {
  padding: 10px;
  background-color: #374a00;
  color: white;
  text-align: center;
  display: block;
}
.fake-btn:hover {
  color: white;
}

.product-card {
  width: 50px;
  box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
/* MAIN CONTENT */


/* PRODUKT SIDE */

.produkter .card {
  width: 25%;
}

.produkter .card-deck .card{
  flex-basis: auto;
  margin-bottom: 15px;
}

/* PRODUKT SIDE */




/* OM OS SIDE */

.om-os-container{
    background-color: white;
}

.om-os-img{
  width: 40%;
  height: 600px;
  object-fit: cover;

}

 /* // Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

.om-os-img{
        width: 100%;
} 
}

/* OM OS SIDE */

/* NEWS */
.news-section {
  margin: 100px auto 50px auto;
  width: 90%;
}
.news-deck {
  margin: 25px 0 25px 0;
}
.news-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.news {
  background-color: #374a00;
  color: white;
  border: none;
  border-radius: 5px;
}
.card-title-news {
  color: white;
  font-weight: 100;
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.lightgrey {
  font-weight: 100;
}
.card-text-news {
  font-size: 1.1rem;
}
/* NEWS */

/* PRODUCT INFO */

.product-info .card{
  border: none;
}

.product-info .section {
  margin: 100px auto 50px auto;
  width: 90%;
}
.product-info .deck {
  margin: 25px 0 25px 0;
}
.product-info .news-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-radius: 5px;
}
.product-info .news {
  background-color: #374a00;
  color: white;
  border: none;
  border-radius: 5px;
}
.product-info .card-title {
  color: #e30613;
  font-weight: 100;
  margin-bottom: 25px;
  text-align: left;
}

.product-info .price{
  text-align: left;
}
.product-info .lightgrey {
  font-weight: 100;
}
.product-info .card-text {
  font-size: 1.1rem;
}

.product-info .fake-btn{
  width: 150px;
}

/* PRODUCT INFO END */


/* FOOTER */
footer {
  padding: 25px 0 50px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
footer div {
  text-align: center;
}
.contact-info {
  padding: 0 0 25px 0;
}
footer .row {
  font-family: "Oswald", sans-serif;
}
.hr-white {
  background-color: white;
  height: 1px;
  width: 50%;
  border-radius: 200px;
}
footer span p {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2.2rem;
}
footer {
  color: white;
  background-color: #374a00;
}
footer form {
  padding-top: 20px;
  width: 40%;
  margin: 0 auto;
}
footer form input,
footer form textarea {
  background-color: #f2f3f4;
  width: 100%;
  color: #374a00;
  border: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
}
::placeholder {
  color: #374a00;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #374a00;
}
::-ms-input-placeholder {
  color: #374a00;
}
.submit {
}

.big-paragraph {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

