body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* MAIN CONTENT */

.main-content {
  background-color: red;
}

/* FOOTER */
footer {
  padding: 25px 0 50px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
footer div {
  text-align: center;
}
.contact-info {
  padding: 0 0 25px 0;
}
footer .row {
  font-family: "Oswald", sans-serif;
}
.hr-white {
  background-color: white;
  height: 1px;
  width: 50%;
  border-radius: 200px;
}
footer span p {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2.2rem;
}
footer {
  color: white;
  background-color: #374a00;
}
footer form {
  padding-top: 20px;
  width: 40%;
  margin: 0 auto;
}
footer form input,
footer form textarea {
  background-color: #f2f3f4;
  width: 100%;
  color: #374a00;
  border: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
}
::placeholder {
  color: #374a00;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #374a00;
}
::-ms-input-placeholder {
  color: #374a00;
}
.submit {
}

.big-paragraph {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
